# Python 관련
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
venv/
.venv/
.pytest_cache/

# Node.js 관련
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
*.tgz
.npm
.eslintcache
.node_repl_history
.yarn-integrity
.env
.env.test
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE 관련
.idea/
.vscode/
*.swp
*.swo
.DS_Store
*.sublime-workspace
*.sublime-project

# 로그 파일
*.log
logs/

# Docker 관련
.docker/

# 기타
.coverage
htmlcov/
.tox/
.nox/

/server/data/